@import url();

:root {
    --bg-color: #ebdecb;
    --top-box-color: #BC9C84;
    --line-color: #BC9C84;
    --search-bar-color: white;
    --search-box-color: white;
    --border-color: transparent;
    --icon-color: #fff2df;
    --light-color: #fff2df;
    --button-on-color: #BC9C84;
    --button-off-color: #d4c7b3;
    --button-color: white;
    --text-color: black;
    --slider-color: #BC9C84;
    --bar-color: #fff2df;
    --indicator-color: rgb(138, 138, 138, 0.4);

    --status-busy-color: #f0ada6;
    --status-normal-color: #ffd47f;
    --status-available-color: #A4D4A4;
    --status-closed-color: #c9c9c9;

}

.darkTheme{
    --bg-color: #202020;
    --top-box-color: #111111;
    --line-color: #ebdecb;
    --search-bar-color: #303030;
    --search-box-color: #303030;
    --border-color: transparent;
    --icon-color: #fff2df;
    --light-color: #fff2df;
    --button-on-color: #BC9C84;
    --button-off-color: #111111;
    --button-color: white;
    --text-color: white;
    --slider-color: #BC9C84;
    --bar-color: #111111;
    --indicator-color: rgba(82, 82, 82, 0.4);

    --status-busy-color: #ec9086;
    --status-normal-color: #fbc760;
    --status-available-color: #7bd87b;
    --status-closed-color: #979797;
}

.highContrast{
    --bg-color: black;
    --top-box-color: black;
    --line-color: white;
    --search-bar-color: black;
    --search-box-color: black;
    --border-color: white;
    --icon-color: white;
    --light-color: white;
    --button-on-color: yellow;
    --button-off-color: white;
    --button-color: black;
    --text-color: white;
    --slider-color: yellow;
    --bar-color: white;
    --indicator-color: rgb(173, 216, 230);
    --contrast-color: black;

    --status-busy-color: red;
    --status-normal-color: yellow;
    --status-available-color: green;
    --status-closed-color: grey;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.4s;
    transition-timing-function: ease-in-out;
    color: var(--text-color);
}

.transition-fade {
    opacity: 1;
    transition: 300ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}


body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topContainer {
    display: flex;
    position: fixed;
    top: 1.5vh;
    width: 90vw;
    height: 5vh;
    z-index: 100;
}
.topWords{
    height: 5vh;
    padding-left: 2.5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center ;
    font-size: 3vh;
    color: var(--light-color);
}
.topIcon{
    margin-right:1vw;
    margin-bottom: 0.5vh;
    fill: var(--icon-color);
}


.searchContainer {
    width: 90vw;
    height: 5vh;
    vertical-align: middle;
    border-radius: 5vh;
    padding: 0px 10px;
    box-shadow: 0.1px 0.1px 10px 2px  rgba(0, 0, 0, 0.1) ;
    background-color: var(--search-bar-color);
    display: flex;
    justify-content: space-around;
    border: solid 2px var(--border-color);
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    font-size: 2vh;
    font-weight: 400;
    border-radius: 5vh;
    background-color: var(--search-bar-color);
}

.search:focus {
    outline: none;
}

.topButtons {
    text-align: center;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120; 
}
box-icon.topIcons{

    color: #8e7765;
}

.topBox {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    z-index: 99; 
    background-color: var(--top-box-color);
}

.middleContainer {
    position: absolute;
    top: 10vh;
}
.details{
    margin-bottom: 10vh;
}
.searchResults {
    box-shadow: 0.1px 0.1px 10px 2px  rgba(0, 0, 0, 0.1) ;
    padding: 20px 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 10px;
    border: solid 2px var(--border-color);
    margin-bottom: 15px;
    height: 200px;
    width: 85vw;
    list-style-type: none;
    background-color: var(--search-box-color);
}
.searchBox {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.imageBox {
    margin: 10px 0px;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    
}
.searchName{
    font-size: 2vh;
    font-weight: 600;
}

.searchTime {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
}
.searchStatus {
    text-align: right;
    font-weight: 500;
    font-size: 2vh;
}
.statusIcon{
    display:inline-block;
    border-radius: 10em;
    width: 2ex;
    height: 2ex;
}
.statusWord{
    font-size: 0;
}

.timeIcon{
    zoom: 0.8
}

.busy{
    background-color: var(--status-busy-color);
}

.normal{
    background-color: var(--status-normal-color);
}

.available{
    background-color: var(--status-available-color);
}

.closed{
    background-color: var(--status-closed-color);
}
.boxLine {
    width: 100%;  
    height: 1px;    
    margin-bottom: 1.5vh;  
    margin-top: 1vh;  
    border-width: 1 px;  
    border-color: var(--line-color);  
}

.newsResults {
    box-shadow: 0.1px 0.1px 10px 2px  rgba(0, 0, 0, 0.1) ;
    padding: 20px 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 10px;
    border: solid 2px var(--border-color);
    margin-bottom: 15px;
    width: 85vw;
    list-style-type: none;
    background-color: var(--search-box-color);
}
.newsName {
    font-size: 2vh;
    font-weight: 600;
}
.newsBox {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.settingsResults {
    padding: 20px 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    border-radius: 10px;

    margin-bottom: 15px;
    width: 85vw;
    list-style-type: none;
}
.settingsName {
    font-size: 2vh;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}
.settingsBox {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.settingsContent {
    display: flex;
    justify-content:center;
}

.dragBar{
    width: 100%;
    position: relative;
}

#displaySize {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

#slider {
    appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
    margin-bottom: 2vh;
    background: transparent; /* Otherwise white in Chrome */ 
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
}
#slider:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  }
#slider::-webkit-slider-thumb  {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: var(--slider-color);
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */

}
#slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: var(--bar-color);
    border-radius: 1.3px;
    border: 0px solid var(--button-color);
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .button {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--button-off-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .button:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--button-color);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .button {
    background-color: var(--button-on-color);
  }
  
  input:focus + .button {
    box-shadow: 0 0 1px var(--top-box-color);
  }
  
  input:checked + .button:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .button.round {
    border-radius: 34px;
  }
  
  .button.round:before {
    border-radius: 50%;
  }


/* Navigation Bar */
.nav{
    height: 8vh;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--top-box-color);
    box-shadow: 0px 0px 5px 2px  rgba(0, 0, 0, 0.1) ;
    width: 100%;
    height: 8vh;
    transition: 0.4s;
    z-index: 100;
    display: grid;
    grid-auto-columns: auto;
    align-content: center;

}
.nav__items {
    z-index: 150; 
    
}
.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    
}

.nav__link{
    font-weight: 600;
    row-gap: 4px;
}
.nav__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:25vw;
    height: 8vh;
    font-size: 0;
    fill: var(--icon-color);
}

.indicator {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--indicator-color) ;
    z-index: 100;
    transition: 0.5s;
}

.index {
    top: 0;
    left: 0; 
}
.bookmark {
    top: 0;
    left: 25vw; 
}
.news {
    top: 0;
    left: 50vw; 
}
.settings {
    top: 0;
    left: 75vw; 
}

box-icon[id="current"]{
    fill: var(--contrast-color);
}