@import url();

:root {
    --bg-color: #e8e8e8;
    --top-box-color: #c9c9c9;
    --nav-bar-color: #c9c9c9;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
}

#swup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topContainer {
    display: flex;
    position: fixed;
    top: 1.5vh;
    width: 90vw;
    height: 5vh;
    z-index: 100;
}

.searchContainer {
    width: 90vw;
    height: 5vh;
    vertical-align: middle;
    border-radius: 5vh;
    padding: 0px 10px;
    box-shadow: 0.1px 0.1px 10px 2px  rgba(0, 0, 0, 0.1) ;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    font-size: medium;
    font-weight: 400;
}

.search:focus {
    outline: none;
}

.topButtons {
    text-align: center;
    opacity: 0.5;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120; 
}
.topBox {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    z-index: 99; 
    background-color: var(--top-box-color);
}


.middleContainer {
    position: absolute;
    top: 10vh;
}

.searchResults {
    box-shadow: 0.1px 0.1px 10px 2px  rgba(0, 0, 0, 0.1) ;
    padding: 10px 20px;
    display: block;
    margin-bottom: 15px;
    height: 200px;
    width: 80vw;
    list-style-type: none;
    background-color: white;
}

/* Navigation Bar */
.nav{
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--nav-bar-color);
    box-shadow: 0px 0px 5px 2px  rgba(0, 0, 0, 0.1) ;
    width: 100%;
    height: 8vh;
    transition: 0.4s;
    z-index: 100;
    display: grid;
    grid-auto-columns: auto;
    align-content: center;

}
.nav__items {
    z-index: 150; 
}
.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav__link{
    font-weight: 600;
    row-gap: 4px;

}
.nav__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:25vw;
    height: 8vh;
}

.indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #8a8a8a ;
    opacity: 0.4;
    z-index: 100;
    transition: 0.5s;
}
.indicator::before {
    
}