@import url();

:root {
    --bg-color: #e8e8e8;
    --top-box-color: #c9c9c9;
    --nav-bar-color: #c9c9c9;
    --status-busy-color: #ff9778;
    --status-normal-color: #dfc353;
    --status-available-color: #5a8f90;
    --status-closed-color: #c9c9c9;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    font-size: large;
}

.transition-fade {
    opacity: 1;
    transition: 300ms;
}

html.is-animating .transition-fade {
    opacity: 0;
}


body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.topContainer {
    display: flex;
    position: fixed;
    top: 1.5vh;
    width: 90vw;
    height: 5vh;
    z-index: 100;
}

.searchContainer {
    width: 90vw;
    height: 5vh;
    vertical-align: middle;
    border-radius: 5vh;
    padding: 0px 10px;
    box-shadow: 0.1px 0.1px 10px 2px  rgba(0, 0, 0, 0.1) ;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.search{
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 5%;
    font-size: medium;
    font-weight: 400;
    border-radius: 5vh;
}

.search:focus {
    outline: none;
}

.topButtons {
    text-align: center;
    opacity: 0.5;
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120; 
}
.topBox {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    z-index: 99; 
    background-color: var(--top-box-color);
}
.topBox2 {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 8vh;
    z-index: -100; 
    background-color: var(--top-box-color);
}

.middleContainer {
    position: absolute;
    top: 10vh;
}
.details{
    margin-bottom: 10vh;
}
.searchResults {
    box-shadow: 0.1px 0.1px 10px 2px  rgba(0, 0, 0, 0.1) ;
    padding: 20px 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;

    margin-bottom: 15px;
    height: 200px;
    width: 85vw;
    list-style-type: none;
    background-color: white;
}
.searchBox {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.imageBox {
    margin: 10px 0px;
    overflow: hidden;
    overflow-x: scroll;
    display: flex;
    flex-direction: row;
    
}
.searchTime {
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchStatus {
    text-align: right;
}
.statusIcon{
    display:inline-block;
    border-radius: 10em;
    width: 2ex;
    height: 2ex;
}
.statusWord{
    font-size: 0;
}

.timeIcon{
    zoom: 0.8
}

.busy{
    background-color: var(--status-busy-color);
}

.normal{
    background-color: var(--status-normal-color);
}

.available{
    background-color: var(--status-available-color);
}

.closed{
    background-color: var(--status-closed-color);
}



/* Navigation Bar */
.nav{
    height: 8vh;
    bottom:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--nav-bar-color);
    box-shadow: 0px 0px 5px 2px  rgba(0, 0, 0, 0.1) ;
    width: 100%;
    height: 8vh;
    transition: 0.4s;
    z-index: 100;
    display: grid;
    grid-auto-columns: auto;
    align-content: center;

}
.nav__items {
    z-index: 150; 
}
.nav__list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav__link{
    font-weight: 600;
    row-gap: 4px;
}
.nav__box{
    display: flex;
    align-items: center;
    justify-content: center;
    width:25vw;
    height: 8vh;
    font-size: 0;
}

.nav #indicator {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: #8a8a8a ;
    opacity: 0.4;
    z-index: 100;
    transition: 0.5s;
    top: 0;
    left: 0; 
}